.channel-container {
    display: flex;
    height: calc(100% - 57px); // 40px height + 1px border + 8px padding top + 8px padding bottom
}

.channel-list {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    border-right: 1px solid #BDBDBD;
    background-color: #0D47A1;
    min-width: 200px;
    overflow: auto;
    
}

.channel-name {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #BDBDBD;

    &-active {
        background-color: #1565C0;
        border-radius: 0.25rem;
        font-weight: bold;
        color: white;
    }
}

.channel-content {
    width: 100%;
    padding-left: 1rem;
    background-color: #1565C0;
    overflow: auto;
}

